[package]
name = "schnorrkel"
version = "0.8.4"
authors = ["Jeff Burdges <jeff@web3.foundation>"]
readme = "README.md"
license = "BSD-3-Clause"
repository = "https://github.com/w3f/schnorrkel"
documentation = "https://docs.rs/schnorrkel"
keywords = ["cryptography", "ed25519", "curve25519", "signature", "ECC"]
categories = ["cryptography", "no-std"]
description = "Schnorr VRF, signatures, etc. using the Ristretto group"
exclude = [ ".gitignore", "TESTVECTORS", "res/*" ]
edition = "2018"

# [badges]
# travis-ci = { repository = "dalek-cryptography/ed25519-dalek", branch = "master"}

[dependencies.curve25519-dalek]
# git = "https://github.com/dalek-cryptography/curve25519-dalek"
version = "1.0"
default-features = false

[dependencies.ed25519-dalek]
version = "1.0.0-pre.1"
default-features = false
optional = true

[dependencies.subtle]
version = "2.1"
default-features = false

[dependencies.merlin] 
version = "1.2"
# features = ["debug-transcript"]
default-features = false

[dependencies.rand]
version = "0.6"
default-features = false
optional = true
features = ["i128_support"]

[dependencies.rand_core]
version = "0.4" # 0.5
default-features = false

[dependencies.rand_os]
version = "0.1.3" # 0.2
default-features = false

[dependencies.rand_chacha]
version = "0.1" # 0.2
default-features = false
optional = true

[dependencies.serde]
version = "^1.0"
default-features = false
optional = true

[dependencies.sha2]
version = "^0.8"
default-features = false

[dependencies.failure]
version = "^0.1.5"
default-features = false

[dependencies.zeroize]
version = "0.9.2"
default-features = false
# features = ["zeroize_derive"]

[dev-dependencies]
rand = "0.6"
rand_chacha = "0.1.0"
# hex = "0.3.2"
hex-literal = "0.2.0"
sha2 = "^0.8"
sha3 = "^0.8"
bincode = "^0.9"
criterion = "0.2"

[[bench]]
name = "schnorr_benchmarks"
harness = false

[features]
default = ["std", "u64_backend", "rand"] # "chacha"
preaudit_deprecated = []
chacha = ["rand_chacha"]
std = ["curve25519-dalek/std", "rand/std"] # "failure/std"
alloc = ["curve25519-dalek/alloc"]
nightly = ["curve25519-dalek/nightly", "rand/nightly"] # "zeroize/nightly"
asm = ["sha2/asm"]
yolocrypto = ["curve25519-dalek/yolocrypto"]
u64_backend = ["curve25519-dalek/u64_backend", "ed25519-dalek/u64_backend"]
u32_backend = ["curve25519-dalek/u32_backend", "ed25519-dalek/u32_backend"]
avx2_backend = ["curve25519-dalek/avx2_backend", "ed25519-dalek/avx2_backend"]
