[package]
name = "schnorr-dalek"
version = "0.0.1"
authors = ["Isis Lovecruft <isis@patternsinthevoid.net>", "Jeff Burdges <jeff@web3.foundation>"]
readme = "README.md"
license = "BSD-3-Clause"
repository = "https://github.com/w3f/schnorr-dalek"
homepage = "https://dalek.rs"
documentation = "https://docs.rs/schnorr-dalek"
keywords = ["cryptography", "ed25519", "curve25519", "signature", "ECC"]
categories = ["cryptography", "no-std"]
description = "Fast and efficient ed25519 EdDSA key generations, signing, and verification in pure Rust."
exclude = [ ".gitignore", "TESTVECTORS", "res/*" ]

# [badges]
# travis-ci = { repository = "dalek-cryptography/ed25519-dalek", branch = "master"}

[dependencies.curve25519-dalek]
git = "https://github.com/dalek-cryptography/curve25519-dalek"
version = "1.0"
default-features = false

[dependencies.ed25519-dalek]
git = "https://github.com/dalek-cryptography/ed25519-dalek"
branch = "develop"
# version = "1.0.0-pre.1"
default-features = false

[dependencies.subtle]
version = "2.0.0"
default-features = false

[dependencies.merlin] 
version = "1.0.0"

[dependencies.rand]
version = "0.6.0"
default-features = false
features = ["i128_support"]

[dependencies.serde]
version = "^1.0"
optional = true

[dependencies.sha3]
version = "^0.8"

[dependencies.sha2]
version = "^0.8"
optional = true

[dependencies.failure]
version = "^0.1.1"
default-features = false

[dependencies.clear_on_drop]
version = "0.2"

[dev-dependencies]
hex = "^0.3"
sha2 = "^0.8"
bincode = "^0.9"
criterion = "0.2"
rand_chacha = "0.1.0"

[[bench]]
name = "schnorr_benchmarks"
harness = false

[features]
default = ["std", "u64_backend"]
# We don't add "rand/std" here because it would enable a bunch of Fuchsia dependencies.
std = ["curve25519-dalek/std"]
alloc = ["curve25519-dalek/alloc"]
nightly = ["curve25519-dalek/nightly", "rand/nightly", "clear_on_drop/nightly"]
asm = ["sha2/asm"]
yolocrypto = ["curve25519-dalek/yolocrypto"]
u64_backend = ["curve25519-dalek/u64_backend", "ed25519-dalek/u64_backend"]
u32_backend = ["curve25519-dalek/u32_backend", "ed25519-dalek/u32_backend"]
avx2_backend = ["curve25519-dalek/avx2_backend", "ed25519-dalek/avx2_backend"]
